/* For large screens only */
@media screen and (min-width: 1024px) {
    body {
        min-width: 1024px;
    }
}
/**/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(95, 94, 94);
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
    /**/
    button, html input[type='button'], input[type='reset'], input[type='submit'] {
        border-radius: 5px;
    }

/**/
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: rgb(250, 235, 215);
}
/**/
a {
    color: rgb(255, 105, 180);
}
    /**/
    a:focus {
        color: rgb(255, 20, 147);
    }
    /**/
    a:hover {
        color: rgb(255, 20, 147);
    }
    /**/
    a:visited {
        color: rgb(182, 255, 0);
    }
/**/
.jumbotron {
    background-color: rgb(255, 192, 203);
}












/**/
footer {
    text-align: right;
    padding: 0 100px 0 0;
}
